.aboutHeader{
    font-size:5rem;
    font-family: Coolvetica;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow:hidden;
}

.about-text {
    overflow: hidden;
    position:absolute;
    border: 2px solid blue;
    font-family: Coolvetica;
    font-size:1.75rem;
    letter-spacing: 5px;
    text-indent: 8ch;
    line-height: 1.2;
    margin:2.5rem 0;
    top: 45rem;
    padding: 1rem;
    text-align: justify;
    }


@media (max-width:913px) {
        .aboutHeader {
            width: 100%;
            font-size: 2.5rem;
        }
        .about-text {
            top: 20rem;
        }
    }

@media (max-width:821px) {
        .aboutHeader {
            width: 100%;
            font-size: 2.5rem;
        }
        .about-text {
            top: 20rem;
        }
    }    

@media (max-width:616px) {
        .aboutHeader {
            width: 100%;
            font-size: 2.5rem;
        }
        .about-text {
            top: 12rem;
        }
    } 
    
@media (max-width:541px) {
        .aboutHeader {
            width: 100%;
            font-size: 2.5rem;
        }
        .about-text {
            top: 15rem;
        }
    } 

@media (max-width:415px) {
        .aboutHeader {
            width: 100%;
            font-size: 2.5rem;
        }
        .about-text {
            top: 12rem;
        }
    }    

@media (max-width:281px) {
    .aboutHeader {
        width: 100%;
        font-size: 2.5rem;
    }
}





   
   

