.aboutHeader{
    font-size: 5rem;
    font-family: Coolvetica;
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-text {
    font-family: Coolvetica;
    font-size:1.75rem;
    letter-spacing: 5px;
    text-indent: 8ch;
    line-height: 1.2;
    margin:2.5rem 0;
    padding: 0 5rem;
    text-align: justify;
}

