.slimeGirl {
    --container_height: 20rem;
    width: 100%;
    height: var(--container_height);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    & canvas {
        width: 100%;
        height: calc(100vw - (2*var(--app_padding)));
        max-width: var(--container_height);
        max-height: var(--container_height);
    }
    @media (min-width:1000px) {
        & {
            height:35rem;
            & canvas {
                max-width: 35rem;
                max-height: 35rem;
            }
        }
    }
}  

// @media (orientation:landscape) and (max-width:668px) {
//     .slimegirl, canvas {
//         display: hidden;
//     }
// }